@font-face {
  font-family: 'StoryOfAlundra';
  src: url(/fonts/alundra.otf) format('opentype');
} 
@font-face {
  font-family: 'GolosUi';
  src: url(/fonts/golosui.woff) format('woff');
} 

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #7C9B80;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}



.btm-r-img-bg {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.btm-l-img-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.top-l-img-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.top-r-img-bg {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
}


.main-overlay-c {
  position: relative;
  z-index: 3;
}

.box-with-scroll {
  background-image: url(/img/scroll.svg);
  background-repeat: no-repeat;
  display: inline-block;
}

.scrol-l {
  margin-right: 40px;
}